
{% load static %}
<section class="bg-backgrounds-50 dark:bg-backgrounds-800">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
    <div class="max-w-screen-sm mx-auto text-center">
      <h2
        class="mb-4 text-3xl font-extrabold leading-tight tracking-tight text-textCl-900 dark:text-textCl-primary"
      >
        Ready to Keep the Conversation Flowing?
      </h2>
      <p class="mb-6 font-light text-textCl-500 dark:text-textCl-400 md:text-lg">
        Join our community of players and discover the joy of engaging conversations.
      </p>
      <a
        href="{% url 'register'%}"
        class="text-textCl-primary bg-btns-700 hover:bg-btns-800 focus:ring-4 focus:ring-btns-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-btns-600 dark:hover:bg-btns-700 focus:outline-none dark:focus:ring-btns-800"
        >Start playing now</a
      >
    </div>
  </div>
</section>
