{% load static %}
<section class="bg-backgrounds-50 dark:bg-backgrounds-800" id="features">
  <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
      <!-- Row -->
      <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
          <div class="text-textCl-500 sm:text-lg dark:text-textCl-400">
              <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-textCl-900 dark:text-textCl-primary">
                Keep the Conversation Flowing with Breathe
              </h2>
              <p class="mb-8 font-light lg:text-xl">
                Breathe makes every moment engaging by providing thought-provoking, fun, and interactive questions. Whether you're at a party, on a date, or just hanging out, keep the conversations exciting and meaningful.
              </p>
              <!-- List -->
              <ul role="list" class="pt-8 space-y-5 border-t border-textCl-200 my-7 dark:border-textCl-700">
                  <li class="flex space-x-3">
                      <!-- Icon -->
                      <svg class="flex-shrink-0 w-5 h-5 text-textCl-500 dark:text-textCl-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                      </svg>
                      <span class="text-base font-medium leading-tight text-textCl-900 dark:text-textCl-100">
                            Instant Conversation Starters 🎯 
                      </span>
                  </li>
                  <li class="flex space-x-3">
                      <svg class="flex-shrink-0 w-5 h-5 text-textCl-500 dark:text-textCl-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                      </svg>
                      <span class="text-base font-medium leading-tight text-textCl-900 dark:text-textCl-primary">
                            Play Anytime, Anywhere 🔥
                      </span>
                  </li>
                  <li class="flex space-x-3">
                      <svg class="flex-shrink-0 w-5 h-5 text-textCl-500 dark:text-textCl-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                      </svg>
                      <span class="text-base font-medium leading-tight text-textCl-900 dark:text-textCl-primary">
                            Endless Variety 💡
                      </span>
                  </li>
              </ul>
              <p class="mb-8 font-light lg:text-xl">
                    Break the ice, strengthen connections, and Breathe life into your conversations!
              </p>
          </div>
          <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="{% static 'images/landing/dashboard.png' %}" alt="feature image 1">
      </div>
      <!-- Row -->
      <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
          <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="{% static 'images/landing/dashboard-1.png' %}" alt="feature image 2">
          <div class="text-textCl-500 sm:text-lg dark:text-textCl-400">
              <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-textCl-900 dark:text-textCl-primary">
                    More Ways to Play!
              </h2>
              <p class="mb-8 font-light lg:text-xl">
                Beyond just questions, we’ve got even more ways to break the ice and keep the fun going!.
              </p>
              <!-- List -->
              <ul role="list" class="pt-8 space-y-5 border-t border-textCl-200 my-7 dark:border-textCl-700">
                  <li class="flex space-x-3">
                      <svg class="flex-shrink-0 w-5 h-5 text-textCl-500 dark:text-textCl-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                      </svg>
                      <span class="text-base font-medium leading-tight text-textCl-900 dark:text-textCl-primary">
                            This or That? – Quickfire choices that reveal what you really think! 🎭
                      </span>
                  </li>
                  <li class="flex space-x-3">
                      <svg class="flex-shrink-0 w-5 h-5 text-textCl-500 dark:text-textCl-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                      </svg>
                      <span class="text-base font-medium leading-tight text-textCl-900 dark:text-textCl-primary">
                            Would You Rather? – Tough decisions, funny dilemmas prepare to debate! 🤔
                      </span>
                  </li>
                  <li class="flex space-x-3">
                      <svg class="flex-shrink-0 w-5 h-5 text-textCl-500 dark:text-textCl-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                      </svg>
                      <span class="text-base font-medium leading-tight text-textCl-900 dark:text-textCl-primary">
                            Interactive Questions – A mix of surprises, challenges, and wild hypotheticals!  💬 
                      </span>
                  </li>
                  <li class="flex space-x-3">
                    <svg class="flex-shrink-0 w-5 h-5 text-primary-500 dark:text-primary-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="text-base font-medium leading-tight text-textCl-900 dark:text-textCl-primary">
                        Switch between game modes anytime for endless fun! 💡
                    </span>
                </li>
              </ul>
              <p class="font-light lg:text-xl">
                    Elevate your conversations and breathe life into every interaction!
              </p>
          </div>
      </div>
  </div>
</section>
<!-- End block -->
