{% extends 'base.html' %}
{% load static %}
{% block title %}TaskHorizon | Forgot Password{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
    <section class="bg-gray-50 dark:bg-gray-900 w-full">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <a href="{% url 'landing_page' %}" class="flex items-center mb-6 text-2xl font-semibold text-logo-600 dark:text-white">
                <img class="w-22 h-8 mr-2" src="{% static 'images/logo/logo.png' %}" alt="TaskHorizon">
            </a>
            <div class="w-full bg-gray-100 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-textCl-900 md:text-2xl dark:text-textCl-primary">
                        Forgot Password
                    </h1>
                    <p class="font-light text-textCl-500 dark:text-textCl-400">Don't fret! Just type in your email and we will send you a code to reset your password!</p>
                    <form method="post" class="space-y-4 md:space-y-6">
                        {% csrf_token %}

                        <!-- Email -->
                        <div>
                            <label for="id_email" class="block mb-2 text-sm font-medium text-textCl-900 dark:text-textCl-primary">
                                Your email
                            </label>
                            <input type="text" name="email" id="id_email"
                                class="bg-gray-50 border border-gray-300 text-textCl-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-textCl-primary dark:focus:ring-gray-500 dark:focus:border-gray-500"
                                placeholder="jhondoe@mail.com" required>
                        </div>  
                        <button type="submit"
                                class="w-full text-textCl-primary bg-btns-600 hover:bg-btns-700 focus:ring-4 focus:outline-none focus:ring-btns-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-btns-600 dark:hover:bg-btns-700 dark:focus:ring-btns-800">
                                Send Reset Link
                        </button>
                        <!-- Loading Spinner (Hidden by Default) -->
                        <div id="loading_spinner" class="hidden">
                            <button class="w-full text-textCl-primary bg-btns-600 hover:bg-btns-700 focus:ring-4 focus:outline-none focus:ring-btns-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-btns-600 dark:hover:bg-btns-700 dark:focus:ring-btns-800">
                            <div class="flex flex-row items-center justify-center space-x-2">
                                <span>Send Reset Link</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 animate-spin fill-btns-primary block mx-auto"
                                viewBox="0 0 24 24">
                                <path d="M12 22c5.421 0 10-4.579 10-10h-2c0 4.337-3.663 8-8 8s-8-3.663-8-8c0-4.336 3.663-8 8-8V2C6.579 2 2 6.58 2 12c0 5.421 4.579 10 10 10z"/>
                                </svg>
                            </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/loader.js' %}"></script>
{% endblock %}
{% block footer %}{% endblock %}