{% extends 'base.html' %}
{% load static%}
{% block title %}TaskHorizon | Reset confirmation{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
<section class="bg-gray-50 dark:bg-gray-900 w-full pt-4">
  <div
    class="flex flex-col items-center justify-center px-6 py-18 mx-auto md:h-screen lg:py-0"
  >
  <a href="{% url 'landing_page' %}" class="flex items-center mb-6 text-2xl font-semibold text-logo-600 dark:text-white">
      <img class="w-22 h-8 mr-2" src="{% static 'images/logo/logo.png' %}" alt="TaskHorizon">
  </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-textCl-900 md:text-2xl dark:text-textCl-primary"
        >
          Set New Password
        </h1>

        <form method="post" class="space-y-4 md:space-y-6">
          {% csrf_token %}
          <!-- General Form Errors -->
          {% if form.non_field_errors %}
            <p class="mt-3 text-sm text-red-600">{{ form.non_field_errors.0 }}</p>
          {% endif %}
          <!-- Password 1 -->
          <div>
            <label
              for="{{ form.password1.id_for_label }}"
              class="block mb-2 text-sm font-medium text-textCl-900 dark:text-textCl-primary"
            >
              New Password
            </label>
            <input
              type="password"
              name="password1"
              id="{{ form.password1.id_for_label }}"
              class="bg-gray-50 border border-gray-300 text-textCl-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-textCl-primary dark:focus:ring-gray-500 dark:focus:border-gray-500"
              placeholder="••••••••"
              required
            />
            {% if form.password1.errors %}
            <p class="mt-1 text-sm text-red-600">
              {{ form.password1.errors.0 }}
            </p>
            {% endif %}
          </div>

          <!-- Password 2 -->
          <div>
            <label
              for="{{ form.password2.id_for_label }}"
              class="block mb-2 text-sm font-medium text-textCl-900 dark:text-textCl-primary"
            >
              New Confirm password
            </label>
            <input
              type="password"
              name="password2"
              id="{{ form.password2.id_for_label }}"
              class="bg-gray-50 border border-gray-300 text-textCl-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-textCl-primary dark:focus:ring-gray-500 dark:focus:border-gray-500"
              placeholder="••••••••"
              required
            />
            {% if form.password2.errors %}
            <p class="mt-1 text-sm text-red-600">
              {{ form.password2.errors.0 }}
            </p>
            {% endif %}
          </div>
          </div>

          <!-- Submit Button -->
          <div class="w-full flex items-center justify-center py-8">
          <button
            type="submit"
            class="w-fit text-textCl-primary bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
          >
            Change Password
          </button>
          <!-- Loading Spinner (Hidden by Default) -->
          <div id="loading_spinner" class="hidden">
            <button class="w-fit text-textCl-primary bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
              <div class="flex flex-row items-center justify-center space-x-2">
                <span>Change Password</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 animate-spin fill-white block mx-auto"
                  viewBox="0 0 24 24">
                  <path d="M12 22c5.421 0 10-4.579 10-10h-2c0 4.337-3.663 8-8 8s-8-3.663-8-8c0-4.336 3.663-8 8-8V2C6.579 2 2 6.58 2 12c0 5.421 4.579 10 10 10z"/>
                </svg>
              </div>
            </button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/loader.js' %}"></script>
{% endblock %}
{% block footer %}{% endblock %}